@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.intro-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #01257D;
}
h3{
    color: #00FFFF;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}
h3:hover{
    color: aquamarine;
}
body{
    background-color: #01257D;
}
.image-box{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 200px;
    align-items: space-between;
}
.mypfp{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    box-shadow: 0 0 20px #00FFFF
}

a{
    color: blue;
    font-weight: 2px;
}
a:hover{
    color: red;
}
.About-Me-text,p{
    margin-left: 80px;
    color: #00FFFF;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.About-Me-text:hover{
    color: aquamarine;
}
p:hover{
    color: aquamarine;
}
.footer-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 400px;
}
footer{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #00FFFF;

}
.Programming-Knowledge,.projects,.Education{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
.Programming-Experience{
    text-align: center;
    color: #00FFFF;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}
.pythonlogo,.Clogo,.htmllogo,.csslogo,.jslogo{
    height: 200px;
    width: 200px;
    border-radius: 20px;
}
.Projects,.education{
    text-align: center;
    color: #00FFFF;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}
img:hover{
    box-shadow: 0 0 80px #00FFFF
}
.calcProject,.rpsProject{
    height: 500px;
    width: 800px;
    border-radius: 5px;
}
.essLogo{
    height: 400px;
    width: 400px;
    border-radius: 5px;
}
.uofgLogo{
    height: 400px;
    width: 600px;
    border-radius: 5px;
}