*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.logo{
    background:linear-gradient(315deg, #5078f2 0%, #efe9f4 74%);
    background-size: 300%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 4vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
    -moz-animation: animated_text 10s ease-in-out infinite;
    -webkit-animation: animated_text 10s ease-in-out infinite;

}
.about-title{
        background: linear-gradient(315deg, #03e5b7 0%, #037ade 74%);
        background-size: 300%;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 4vw;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animated_text 10s ease-in-out infinite;
        -moz-animation: animated_text 10s ease-in-out infinite;
        -webkit-animation: animated_text 10s ease-in-out infinite;

}
.aspiring{
        background: linear-gradient(319deg, #fce055 0%, #256eff 37%, #46237a 100%);

        background-size: 300%;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 5vw;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animated_text 10s ease-in-out infinite;
        -moz-animation: animated_text 10s ease-in-out infinite;
        -webkit-animation: animated_text 10s ease-in-out infinite;
}
    
 @keyframes animated_text {
        0% { background-position: 0px 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0px 50%; }
    }

body{
    background-color: black;
    color: white
}
.top-portion{
    width: 100%;
    height: 100vh;
}
.container{
    padding: 10px 10%;

}
.container .sub-title{
    font-size: 80px;
}
.logo{
    height: 100px;
    width: 100px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px ;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: 1s;
}
nav ul li a:hover{
    color: #00FFFF;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00FFFF;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.8s;
}
nav ul li a:hover::after{
    width: 100%;
}
.top-portion-text{
    margin-top: 20%;
    font-size: 30px;
}
.top-portion-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.top-portion-text h1 span{
    color: #00FFFF;
}
.about-text{
    font-size: 20px;
    color: #ababab;
    transition: 1s;
}
.about-text:hover{
    color: #00FFFF;
}
.about-content{
    font-size: 40px;
}
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 30px #00FFFF;
}
.about-col-2{
    flex-basis: 60%;
}
.about-title{
    font-size: 80px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #ababab;
    transition: 1s;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00FFFF;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 1s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #00FFFF;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#projects{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #00FFFF);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 60px;
    height: 50px;
    border-radius: 40%;
    text-align: center;
}
.layer h3{
    font-size: 50px;
    margin-bottom: 20px;
}
.layer button{
    margin-top: 20px;
    color: #00FFFF;
    text-decoration: none;
    font-size: 10px;
    line-height: 60px;
    background: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-color: black;
    border: 3px solid;
}
.layer button:hover{
    cursor: pointer;
}
.work:hover img{
    transform: scale(2.0);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00FFFF;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 1s;
}
.btn:hover{
    background: #00FFFF;
}

.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 35%;
    
}
.contact-left p{
    margin-top: 30px;
}
.btn.btn2{
    display: inline-block;
    background: black;
    border: 2px solid #00FFFF;
    transition: 1s;
}

.btn.btn2:hover{
    background: #00FFFF;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 30px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

@media only screen and (max-width:600px){
    .header-text{
        margin-top:100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 14px;

    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}